Checks: >
  -*,
  bugprone-dangling-handle,
  bugprone-misplaced-widening-cast,
  bugprone-unchecked-optional-access,
  bugprone-use-after-move,
  clang-analyzer-*,
  modernize-use-nullptr,
  performance-*,
  readability-container-size-empty
WarningsAsErrors: '*'
HeaderFilterRegex: '^(XenonAnalyse|XenonRecomp|XenonRecompTests|XenonUtils|XexInspect|XexInspectTests)/'
FormatStyle: file
